.wp-block-demo-blocks-first-demo-block {
    color: green;
    background: #cfc;
    border: 2px solid #9c9;
    padding: 20px
}

.wp-block-demo-blocks-blockquote-block {
    .blockquote-wrapper {
        padding: 8px;
    }
    .uconn-quote-editor,
    .uconn-cite-editor {
        background-color: inherit;
    }
    .uconn-quote,
    .uconn-cite {
        &-align-left {
            text-align: left;
        }
        &-align-center {
            text-align: center;
        }
        &-align-right {
            text-align: right;
        }
    }
    .uconn-quote-editor {
        font-size: 36px;
    }
}