/* 
  import .scss files here as needed.
  gulp will handle adding vendor prefixes as needed
*/

* {
  box-sizing: border-box;
}

.wp-block-demo-blocks-first-demo-block {
    color: darkred;
    background: #fcc;
    border: 2px solid #c99;
    padding: 20px;
    .demo-block-align {
      &-left,
      &-none {
        text-align: left;
      }
      &-center {
        text-align: center;
      }
      &-right {
        text-align: right;
      }
    }
}

.wp-block-demo-blocks-blockquote-block {
  .blockquote-wrapper {
    padding: 8px;
  }
  .align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }
  blockquote {
    border: 0;
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
}