.wp-block-demo-blocks-first-demo-block {
  color: green;
  background: #cfc;
  border: 2px solid #9c9;
  padding: 20px;
}

.wp-block-demo-blocks-blockquote-block .blockquote-wrapper {
  padding: 8px;
}
.wp-block-demo-blocks-blockquote-block .uconn-quote-editor,
.wp-block-demo-blocks-blockquote-block .uconn-cite-editor {
  background-color: inherit;
}
.wp-block-demo-blocks-blockquote-block .uconn-quote-align-left,
.wp-block-demo-blocks-blockquote-block .uconn-cite-align-left {
  text-align: left;
}
.wp-block-demo-blocks-blockquote-block .uconn-quote-align-center,
.wp-block-demo-blocks-blockquote-block .uconn-cite-align-center {
  text-align: center;
}
.wp-block-demo-blocks-blockquote-block .uconn-quote-align-right,
.wp-block-demo-blocks-blockquote-block .uconn-cite-align-right {
  text-align: right;
}
.wp-block-demo-blocks-blockquote-block .uconn-quote-editor {
  font-size: 36px;
}
