/* 
  import .scss files here as needed.
  gulp will handle adding vendor prefixes as needed
*/
* {
  box-sizing: border-box;
}

.wp-block-demo-blocks-first-demo-block {
  color: darkred;
  background: #fcc;
  border: 2px solid #c99;
  padding: 20px;
}
.wp-block-demo-blocks-first-demo-block .demo-block-align-left, .wp-block-demo-blocks-first-demo-block .demo-block-align-none {
  text-align: left;
}
.wp-block-demo-blocks-first-demo-block .demo-block-align-center {
  text-align: center;
}
.wp-block-demo-blocks-first-demo-block .demo-block-align-right {
  text-align: right;
}

.wp-block-demo-blocks-blockquote-block .blockquote-wrapper {
  padding: 8px;
}
.wp-block-demo-blocks-blockquote-block .align-left {
  text-align: left;
}
.wp-block-demo-blocks-blockquote-block .align-center {
  text-align: center;
}
.wp-block-demo-blocks-blockquote-block .align-right {
  text-align: right;
}
.wp-block-demo-blocks-blockquote-block blockquote {
  border: 0;
  font-size: 36px;
  margin: 0;
  padding: 0;
}
